/* 基本設定 */
html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}
body {
    margin: 0;
    min-width: 300px;
}
.contents {
    padding-top: 10px;
}
a {
    cursor:pointer;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* ナビゲーションバー */
.navbar {
    border-radius: 0px;
    margin-bottom: 5px;
}

/* フッター */
hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* 更新情報 */
.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
