html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}
body {
    margin: 0;
    min-width: 300px;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 5px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.btn-twitter {
    padding: 0px 0px;
    border: none;
}
.img-twitter:hover {
    opacity: 0.60;
    -moz-opacity: 0.60;
    filter: alpha(opacity=60);
}
hr {
    margin-top: 0px;
    margin-bottom: 10px;
}
